<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DICOMHawk - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='particles.min.js') }}"></script>

</head>
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='dicomhawk_logo.png') }}" alt="DICOMHawk Logo" class="logo">
        <p>DICOMHawk</p>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('logs')}}">Logs</a></li>
                <li><a href="{{url_for('simplified_logs_page')}}">Simplified Logs</a></li>
                <li><a href="{{url_for('status')}}">Server Status</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>DICOMHawk Dashboard</h1>
            <div class="status">Server Status:🟢 Online</div>
        </div>
        <p>Welcome to DICOMHawk, the honeypot DICOM server to track and analyze unauthorized access attempts.</p>
    </div>
    <script>
        particlesJS.load('particles-js', "{{ url_for('static', filename='particles.json') }}", function() {
            console.log('particles.js loaded - callback');
        });
    </script>
</body>
</html>
