<table id="simplifiedLogsTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>Port</th>
            <th>Version</th>
            <th>Command Type</th>
            <th>Term Matches</th>
            <th>Status</th>
            <th>Level</th>
            <th>Message</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <!-- Log entries go here -->
    </tbody>
</table>
<script src="{{ url_for('static', filename='table_formatter.js') }}"></script>
